<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142408749216-qogifaoq2jahs8d8sqp9pq0isc7thi50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142408749216-qogifaoq2jahs8d8sqp9pq0isc7thi50</string>
	<key>API_KEY</key>
	<string>AIzaSyBgz91qt9YuIuIWNKkIXezm91fNmGUXO8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>142408749216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ppam.unistuff</string>
	<key>PROJECT_ID</key>
	<string>unistuff-f09c5</string>
	<key>STORAGE_BUCKET</key>
	<string>unistuff-f09c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142408749216:ios:a7a7bc46318296240079c5</string>
</dict>
</plist>